# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/instance/
backend/.env
backend/app.db

# Node / React
frontend/node_modules/
frontend/build/
frontend/.env

# OS / Editor
.DS_Store
.vscode/